[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
alchql = "*" # alchemy - graphql integration
pydantic = "*"
dynaconf = "*"
graphql-core = "==3.2.1"
asyncpg = "*"
uvicorn = { extras = ["standard"], version = "*" }
SQLAlchemy = { extras = ["asyncio"], version = ">=1.4,<2" }
psycopg2-binary = "*"
fastapi = "*"
starlette-graphene3 = "*"
boto3 = "==1.24.75"
botocore = "*"
yarl = "*"
unidecode = "*"
pillow = "*"
graphene-federation3 = "*"
facepy = "*"
httpx = "*"

[dev-packages]
black = "==22.3"
pytest = "==6.2.5"
coverage = { extras = ["toml"], version = "*" }
pytest-asyncio = "==0.15.1"
pytest-mock = "==3.6.1"
snapshottest = "==0.6.0"


[requires]
python_version = "3.10"
